@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Lost in the Woods</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">@ViewBag.Trail.Name</h1>
        <h3>Description</h3>
        <p class="lead">@ViewBag.Trail.Description</p>
        <hr class="my-4">
        <h3>Trail Length: </h3>
        <p>@ViewBag.Trail.Length miles</p>
        <h3>Elevation Change</h3>
        <p>@ViewBag.Trail.Elevation feet</p>
        <h3>Longitude: </h3>
        <p>@ViewBag.Trail.Longitude degrees</p>
        <h3>Latitude: </h3>
        <p>@ViewBag.Trail.Latitude degrees</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    </div>
</body>
</html>